@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

#1f6feb
#0c397e
#161b22

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0d1017;
    color: #d4dff1;
    font-family: 'Poppins', sans-serif;
}
.tooltip{
    font-family: Vazir;
}
body{
    font-family: Vazir;
}
hr{
    color: #0c397e;
}
#main{
    padding-top: 100px;
}
.signin-box{
    align-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #0c397e;
    box-shadow: 0 0px 5px #0c397e;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
    padding: 40px 10px;
    text-align: center;
}
.login-box{
    align-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #0c397e;
    box-shadow: 0 0px 5px #0c397e;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
    padding: 40px 10px;
    text-align: center;
}
.input-form{
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #161b22;
    border: none !important;
    padding: 5px;
    color: white;
    font-size: 16px;
}
.upload-box{
    text-align:center;
    padding:1%;
    width: 80%;
    border: thin solid #0c397e;
    margin: 0 10%;
    box-shadow: 0 0 5px #1854af;
}

.inputTag{
    display: none;
}
.upload-label{
    cursor:pointer;
}
#imageName{
    color:white;
}
.users-box{
    background-color: #ffffff;
    margin: 3% auto;
    padding: 15px 5px;
    font-family: 'Poppins', sans-serif;
    color: #161b22;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
}
.user-box{
    display: flex;
}
.contact-box{
    display: flex;
padding: 5px;
}
.contact-box:hover{
    background-color: #f5f5f5;
}
.contact-box div span{
    font-size: 12px;
    font-weight: lighter;

}

.contact-box div p{
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.contact-box img{
    margin-right: 7px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.user-box div span{
    font-size: 14px;
    font-weight: lighter;
}

.user-box div p{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.user-box img{
    margin-right: 7px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.search-box{
    margin-left: -10px;
    height: 37px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.search-input{
    height: 37px;
    border: 1px solid #eee;
    font-size: 16px;

}
.num-text{
    margin: 20% 0 0 60%;
}
.outgoing{
    max-width: 60%;
    float: right;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    margin: 15px 0;
    background: #e5e7e7;
}
.incoming{
    max-width: 60%;
    float: left;
    background: #807f7f;
    border-radius: 15px;
    margin: 15px 0;
    padding: 15px;
    border-bottom-left-radius: 0px;
}
.chats{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 550px;
 }